<div class="container mt-3 mx-auto">
  <form action="/restaurants" method="POST">
    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-utensils"></i>
        餐廳名字：
      </span>
      <div class="input-group">
        <input required class="form-control input-area" type="text" placeholder="輸入餐廳名字" name="name">
      </div>
    </p>

    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-utensils"></i>
        餐廳英文名：
      </span>
      <div class="input-group">
        <input class="form-control input-area" type="text" name="name_en">
      </div>
    </p>

    <p class="mb-1">
      <span class="text-secondary">
        <i class="far fa-bookmark pr-2"></i>
        類別：
      </span>
      <div class="input-group">
        <input required class="form-control input-area" type="text" placeholder="輸入餐廳類別" name="category">
      </div>
    </p>

    <p class="mb-1">
      <span class="text-secondary">
        <i class="fab fa-ethereum pr-2"></i>
        地址：
      </span>
      <div class="input-group">
        <input class="form-control input-area" type="text" placeholder="輸入餐廳地點" name="location">
      </div>
    </p>

    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-mobile-alt pr-2"></i>
        電話：
      </span>
      <div class="input-group">
        <input class="form-control input-area" type="number" placeholder="輸入餐廳電話" name="phone">
      </div>
    </p>

    <p class="mb-1">
      <span class="text-secondary">
        <i class="far fa-gem"></i>
        評分：
      </span>
      <div class="input-group">
        <input class="form-control input-area" type="number" placeholder="輸入餐廳評分" name="rating">
      </div>
    </p>
    
    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-book-reader"></i>
        餐廳描述：
      </span>
      <div class="input-group">
        <textarea class="form-control input-area" name="description" placeholder="輸入餐廳描述" cols="30" rows="10"></textarea>
      </div>
    </p>

    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-camera-retro"></i>
        餐廳照片：
      </span>
      <div class="input-group">
        <input class="form-control input-area" type="text" placeholder="輸入餐廳照片網址" name="image">
      </div>
    </p>
    
    <div class="d-flex justify-content-center">
      <button class="btn btn-success mt-3 mb-5 mx-3" type="submit" id="create">
        <i class="fas fa-plus"></i>
      </button>
      <a href="/">
    
      <button class="btn btn-primary mt-3 mb-5 mx-3" type="button" id="back">
        <i class="fas fa-undo-alt"></i>
      </button>
      </a>
    </div>
  </form>
</div>